{{!-- layouts/base.hbs --}}

<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <title>
        Box Node Boilerplate
    </title>

    {{#> head-block}}
      {{!-- Custom <head> goes here --}}
      {{> head }}
    {{/head-block}}
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">
            Box Node Boilerplate
          </a>
        </div>
        {{#if user}}
          <ul class="nav navbar-nav pull-right">
            <li>
              <a href="/logout">Log Out</a>
            </li>
          </ul>
        {{/if}}
      </div>
    </nav>

    {{#> content-block}}
    {{!-- Content goes here --}}
    {{/content-block}}

  </body>
</html>
