<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Box Node Boilerplate</title>

    <%# local styles and js %>
    <%# <link rel="stylesheet" href="/css/bundle.css">%>
    <script src="/js/bundle.js"></script>
    <script src="/css/bundle.js"></script>
  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text"><a href="/">Box Node.js Boilerplate</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
          <% if (locals.user) { %>
            <a href="/user/logout">Log Out</a>
          <% } else { %>
            <a href="/user/login">Log In</a>
          <% } %>
        </ul>
      </div>
    </div>
