<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Box Node Boilerplate</title>
    <%# jQuery %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- foundation 6 style + js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.1/css/foundation.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.1/js/foundation.min.js"></script>
    <%# local bundled styles and js %>
    <script src="/bundle.js"></script>
  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text"><a href="/">Box Node.js Boilerplate</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
          <% if (locals.user) { %>
            <a href="/user/logout">Log Out</a>
          <% } else { %>
            <a href="/user/login">Log In</a>
          <% } %>
        </ul>
      </div>
    </div>
