<% if (!user) { %>
	<p>Welcome! Please <a href="/user/login">log in</a> or <a href="/user/signup">sign up</a>.</p>
<% } else { %>
	<p>Hello, <%= user.username %>. View your <a href="/user/profile">profile</a>.</p>
<% } %>
