<% include ./partials/header %>

<div class="grid-x">
	<div class="mtm cell small-12 medium-8 large-4 large-offset-4 medium-offset-2">
		<% if(locals.error) { %>
			<div class="alert callout">
				<p>Error: <%= error %></p>
			</div>
		<% } %>

		<h4 class="text-center">Submit your username / password</h4>
		<form action="/user/signup" method="post">
			<div>
				<label>Username:</label>
				<input placeholder="username" type="text" name="username"/><br/>
			</div>
			<div>
				<label>Password:</label>
				<input placeholder="password" type="password" name="password"/>
			</div>
			<div>
				<input class="button" type="submit" value="Sign Up"/>
			</div>
		</form>
	</div>
</div>

<% include ./partials/footer %>
