{{#> base }}

{{#*inline "content-block"}}

  <div class="container">
    <div class="text-center mtl">
      <button type="button" class="btn btn-primary" onclick="lock.show();">Log In</button>
    </div>
  </div>

  <script>
    var lock = new Auth0Lock('{{auth0Config.clientID}}', '{{auth0Config.domain}}', {
      auth: {
        redirectUrl: '{{auth0Config.redirectUri}}',
        responseType: 'code',
        params: {
          scope: 'profile' // Learn about scopes: https://auth0.com/docs/scopes
        }
      }
    });
  </script>

{{/inline}}

{{/base}}
