{{#> base }}

{{#*inline "content-block"}}

  <div class="container">
    <div class="row mtl">
      <ul class="nav nav-pills mb-3 col col-lg-4 col-md-6 offset-lg-4 offset-md-3" id="login-options" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="login-tab" data-toggle="pill" href="#login" role="tab">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="signup-tab" data-toggle="pill" href="#signup" role="tab">Signup</a>
        </li>
      </ul>
    </div>

    <div class="row">
      <div class="tab-content col col-lg-4 col-md-6 offset-lg-4 offset-md-3">
        <div class="tab-pane show active" id="login" role="tabpanel" aria-labelledby="login">

          <!-- log in -->
          <form action="/login" method="post" class="">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" name="username" placeholder="username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>

        <!-- sign up -->
        <div class="tab-pane" id="signup" role="tabpanel" aria-labelledby="signup">
          <form action="/signup" method="post" class="">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" name="username" placeholder="username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{{/inline}}

{{/base}}
