{{#> base }}

{{#*inline "content-block"}}

  <div class="grid-x">
    <div class="mtm cell auto small-8 medium-6 large-5">
      <h4 class="text-center">Welcome!</h4>
      <div class="text-center">
         <a class="button hollow"href="/login">Log In</a>
       </div>
    </div>
  </div>

{{/inline}}

{{/base}}
